@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Address Book: A Coding Challenge</h1>
            <h4 class="lead">
                Using the concepts of MVC build an address book.
            </h4>
            <ul class="fa-ul pt-2 checklist">
                <li>
                    <span class="fa-li"><i class="fas fa-check-square text-primary"></i></span>CSS and Bootstrap
                    Layout
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check-square text-primary"></i></span>C#
                    Fundamentals
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check-square text-primary"></i></span>C# Methods
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check-square text-primary"></i></span>Entity Framework
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check-square text-primary"></i></span>PostgreSQL
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check-square text-primary"></i></span>Javascript Dom
                    Manipulation
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check-square text-primary"></i></span>Javascript Apis
                </li>
            </ul>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a type="button" class="btn btn-outline-primary btn-lg px-4 me-md-2"
                   asp-controller="Contacts" asp-action="Index">Try It Out</a>
            </div>
            <h5 class="fw-bold mt-5">Technolgies Used </h5>
            <div class="d-flex">
                <div class="row row-cols-6 border-dark p-1">
                    <div class="col"><i class="devicon-csharp-plain di-5x"></i></div>
                    <div class="col"><i class="devicon-postgresql-plain colored di-5x"></i></div>
                    <div class="col"><i class="fab fa-js-square js-color fa-5x jsicon"></i></div>
                    <div class="col"><i class="fab fa-bootstrap bs-color fa-5x bsicon"></i></div>
                    <div class="col"><i class="fab fa-html5 html-color fa-5x html5icon"></i></div>
                    <div class="col"><i class="fab fa-css3-alt fa-5x css-color css3icon"></i></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 justify-content-center">
            <img src="~/img/address-book-clipart-lg.png" class="justify-content-center img-fluid img-smaller" alt="">
        </div>
    </div>
</div>